.o-horizontal-list {
    display: flex;
    flex-direction: row;

    &--centered {
        align-items: center;
    }

    &--top {
        align-items: flex-start;
    }
}

.o-vertical-list {
    display: flex;
    flex-direction: column;

    &--centered {
        justify-content: center;
        align-items: center;
    }
}

.o-position-wrapper {
    position: relative;
}

.o-position-fixed {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.o-page-wrapper {
    margin: 0 75px;
}