o-page-wrapper {
    margin: 0 75px;
}

.o-horizontal-list {
    display: flex;
    flex-flow: row;

    &--centered {
        align-items: center;
    }
}

.o-vertical-list {
    display: flex;
    flex-flow: column wrap;

    &--centered {
        justify-content: center;
        align-items: center;
    }
}

.o-position-wrapper {
    position: relative;
}