.c-banner {
    &__content {
        display: grid;

        &--footer {
            margin: 0 75px;
            grid-template-columns: 2fr 2fr 1fr 1fr 0.75fr;
            grid-template-rows: 1fr 1fr;
            padding: $padding-big 0;
            justify-items: end;
        }

        &--blue {
            padding: $padding-big 0;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
        }
    }

    &--footer {
        background-color: $grey-700;

        &__mascot {
            position: absolute;
            left: 75px;
            bottom: 0;
        }

        &__list {
            justify-self: start;
        }

        &__list-heading {
            margin-bottom: 16px;
            width: 100%;
            color: $white;
        }

        &__list-item {
            margin-bottom: 10px;
        }

        &__list-item-content {
            color: $grey-200;
            text-align: start;
            @include fade-in-transition-color($primary-300);
        }

        &__contact-icon {
            padding-right: $padding-default;
            font-size: 30px;
            line-height: 20px;
            color: $grey-200;
            @include fade-in-transition-color($primary-300);
        }

        &__copyright {
            grid-row: 2;
            grid-column: 5;
            text-align: center;
            color: $grey-500;
        }

        @for $i from 1 to 4 {
            &__list-#{$i} {
                grid-row: span 2;
                grid-column: #{$i+1}/#{$i+2};
            }
        }
    }

    &--blue {
        background-color: $blue-300;

        &__text {
            margin-bottom: $padding-default;
            color: $white;
        }

        &__interactable {
            margin: $padding-default $padding-secondary;
        }
    }

    @include only-phones {
        position: absolute;
        opacity: 0;
    }
}