.c-main {
    display: grid;
    @include page-wrapper;
    grid-template-rows: max-content min-content 1fr;

    &__avatar-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
        row-gap: $padding-big;
        justify-items: center;

        margin: 100px auto;

    }

    &__card-grid {}
}