.c-main {
    display: grid;
    @include page-wrapper;

    &--trainers {
        grid-template-rows: max-content min-content 1fr;
    }

    &--courses {
        margin: 150px 0;

        grid-template-rows: max-content max-content max-content max-content max-content;
        row-gap: $padding-big;
    }

    &__paragraph {
        margin-bottom: $padding-default;
        color: $grey-700;
    }
}