.c-avatar {
    border: 6px solid $primary-300;
    border-radius: 50%;

    //todo animate avatar info hover
    //!just a presentation
    &--blurred {
        transition: filter 0.4s ease-in;

        &:hover {
            filter: blur(4px);
        }
    }

    &--hovered {
        position: absolute;
        width: 175px;
        height: 175px;
        border: none;
        opacity: 0;
        top: 5px;
        left: 5px;
        transition: all 0.5s ease-in;

        &:hover {
            //* secondary-800 with alpha channel
            background: url(../assets/images/info-icon.svg) center no-repeat, rgba(255, 145, 0, 0.8);
            opacity: 1;
        }
    }

    //!end of presentation
    &--hoverable {
        position: absolute;
        width: 175px;
        height: 175px;
        border: none;
        //* secondary-800 with alpha channel
        background: url(../assets/images/info-icon.svg) center no-repeat, rgba(255, 145, 0, 0.8);
        top: 5px;
        left: 5px;

        &:hover {
            opacity: 0;
        }
    }


    &__info-name {
        display: block;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;

        color: $primary-300;
    }

    &__info-labour {
        display: block;
        @include small-paragraph-font;

        color: $grey-400;
    }
}