.c-header {
	padding: 10px 0;
	justify-content: space-around;
	align-items: center;
	box-shadow: $box-shadow-2dp;
	background-color: $white;

	&__list-item {
		margin: 0 $padding-default;
		padding: 10px $padding-default;
	}

	&__list-item--button {
		margin: 0 $padding-secondary;
	}

	&__page-link {
		@include small-paragraph-font;
		font-weight: bold;
		text-transform: uppercase;
		color: $grey-700;
		@include fade-in-transition-color($secondary-800);
	}

	&__logo {
		margin-left: 15px;
	}

	@include only-phones {
		&__logo {
			content: url(../assets/images/logo-vertical.svg);
		}

		&__arrow {
			content: url(../assets/images/logo-arrow-grey.svg);
		}

		&__list-item {
			position: absolute;
			opacity: 0;
		}

		&__list-item--button {
			margin: 0 $padding-default/2;
		}

		&__button::after {
			position: absolute;
			margin-right: 25px;
			right: -15px;
			height: 16px;
			width: 24px;
			content: url(../assets/images/menu-phone.svg);
		}
	}
}