.c-input-transparent {
    padding: 16px;
    border-radius: 6px;
    box-shadow: none;
    background-color: transparent;

    &--white {
        border: 1px solid $white;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }

    &--grey {
        border: 1px solid $grey-500;
        color: $grey-500;

        &::placeholder {
            color: $grey-500;
        }
    }
}