.c-block-play-button {
    position: absolute;
    right: 50%;
    top: $padding-big;
}

.c-block-certificate {
    background: $grey-300;
    border-radius: 12px;
    padding: 100px;
    box-shadow: $box-shadow-1dp;
}