.c-header-banner {
	margin: 0 auto;
	padding: $padding-big 0;
	width: 100%;
	color: $white;

	&--blue {
		min-height: 300px;
		background-color: $blue-400;

		&__course-level {
			position: relative;
			top: -$padding-default;
			left: 50%;
			padding: 5px 10px;

			border-radius: 4px;
			background-color: $secondary-500;
			font-weight: bold;
		}
	}

	&--orange {
		background-color: $secondary-600;

		&__info {
			padding-top: $padding-default;
			width: 50%;
			text-align: center;
		}
	}

	&--map {
		display: flex;
		position: relative;
		padding: 0;
		justify-content: center;

		&__image {
			position: relative;
			top: -75px;
			z-index: -2;
		}
	}

	@include only-phones {
		&--orange {
			&__info {
				width: 100%;
			}
		}

		&--map {
			&__image {
				max-width: 100%;
				top: -25px;
			}
		}
	}
}