.c-header {
	padding: 10px 0;
	justify-content: space-around;
	align-items: center;
	box-shadow: $box-shadow-2dp;
	background-color: $white;

	&__list-item {
		padding: 10px $padding-default;
		margin: 0 25px;
	}

	&__list-item--button {
		margin: 0 25px;
	}

	&__page-link {
		text-transform: uppercase;
		color: $grey-700;

		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
	}

	&__logo {
		margin-left: 15px;
	}
}