.c-block-play-button {
    position: absolute;
    top: $padding-big;
    right: 50%;
}

.c-block-certificate {
    padding: 100px;
    border-radius: 12px;
    box-shadow: $box-shadow-1dp;
    background: $grey-300;
}

.c-block-lecture-link {
    display: block;
    position: relative;
    width: 100%;
    margin: 16px 0;
    padding: 14px;
    padding-right: 60px;

    border-radius: 6px;

    color: $grey-700;
    background-color: $white;

    &::after {
        position: absolute;
        top: 14px;
        right: 20px;
        max-height: 10px;
        content: url(../assets/images/arrow-down.svg);
    }
}