.section-clip {
    @include horizontal-list(false);
}

.section-paragraph {
    margin-right: 100px;
}

//* Card sections
.section-info-cards {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 0.5fr 1fr;
    justify-items: center;
}

.section-certificate-cards {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.section-trainers-cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

//* Info sections
.section-course-info {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr;
    align-items: end;

    min-height: 560px;

    padding: $padding-big 75px;

    background: url(../assets/images/course-studies-block.svg);
}

.section-transport-info {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: $padding-secondary;

    padding: 100px 75px;

    background-color: $secondary-50;

    &__heading {
        grid-row: 1;
        grid-column: span 3;
        text-align: center;
    }

    &__info {
        grid-row: 2;
    }
}

//* Specific sections
.section-message {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: max-content max-content;
    justify-content: center;

    gap: $padding-secondary $padding-secondary;

    &__heading,
    &__big-message {
        grid-column: span 2;
    }

    &__heading {
        color: $primary-300;
    }

    &__big-message {
        position: relative;
        min-height: 200px;
    }
}

.section-avatar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    row-gap: $padding-big;
    justify-items: center;

    margin: 100px auto;
}