.c-page-separator {
    width: 100%;
    height: 10px;

    &--banner-grey {
        background-color: $grey-500;
    }

    &--banner-blue {
        background-color: $blue-200;
    }

    &--dots {
        background: url(../assets/images/dots-horizontal-long-blue.svg);

        &--vertical-orange-long {
            background: url(../assets/images/dots-vertical-long-orange.svg);
            height: 100%;
            width: 10px;
        }

        &--vertical-orange-short {
            background: url(../assets/images/dots-vertical-short-orange.svg);
            height: 100%;
            width: 10px;
        }
    }
}