.c-input-transparent {
    padding: 16px;
    border-radius: 6px;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    box-shadow: none;

    &::placeholder {
        color: $white;
    }
}