.c-avatar {
	border: 6px solid $primary-300;
	border-radius: 50%;

	&__container {
		border: none;

		&:hover {
			.c-avatar--hoverable {
				border: 6px solid transparent;
				filter: blur(4px);
			}

			.c-avatar--hoverable__overlay {
				opacity: 0.8;
			}
		}
	}

	&--hoverable {
		transition: filter 0.4s ease-in, border 0.4s ease-in;

		&__overlay {
			position: absolute;
			top: 5px;
			left: 5px;
			z-index: 2;

			width: 175px;
			height: 175px;

			opacity: 0;

			//* secondary-800 with alpha channel
			background: url(../assets/images/info-icon.svg) center no-repeat, rgba(255, 145, 0, 0.8);

			cursor: pointer;
			transition: opacity 0.3s ease-in;
		}
	}

	&__info-name {
		display: block;

		font-family: Montserrat;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;

		color: $primary-300;
	}

	&__info-labour {
		display: block;
		@include small-paragraph-font;

		color: $grey-400;
	}
}