.c-card-avatar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 100px 0;

    &__info {
        margin: 0 $padding-secondary;
    }

    @include only-phones {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: $padding-secondary 0;

        &__info {
            margin: $padding-secondary $padding-secondary;
        }
    }
}

.c-card-info {
    &__icon {
        margin-right: $padding-secondary;
    }

    &__heading {
        font-family: Montserrat !important;
        font-size: 30px;
        line-height: 36px;
    }
}

.c-card-transport-info {
    &__heading {
        color: $primary-300;
    }
}