@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

a,
p,
span,
button {
    font-family: 'Lato';
}

a,
p {
    font-size: 16px;
    line-height: 125%;
}

button {
    font-size: 14px;
    font-weight: bold;
}