@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

h1 {
  font-size: 36px;
}

.h1-alike {
  font-family: Montserrat;
  font-size: 36px;
}

.h3-alike--lato {
  font-family: Lato;
  font-size: 18px;
}

a,
p,
span,
button {
  font-family: 'Lato';
}

a,
p {
  font-size: 16px;
  line-height: 125%;
}

button {
  font-size: 14px;
  font-weight: bold;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

p {
  margin: 24px 0;
}

.o-horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.o-horizontal-list--centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-horizontal-list--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.o-vertical-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-vertical-list--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-position-wrapper {
  position: relative;
}

.o-position-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.o-page-wrapper {
  margin: 0 75px;
}

.c-header {
  padding: 10px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.c-header__list-item {
  padding: 10px 24px;
  margin: 0 24px;
}

.c-header__list-item--button {
  margin: 0 32px;
}

.c-header__page-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #565656;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.c-header__page-link:hover {
  color: #ff9100;
}

.c-header__logo {
  margin-left: 15px;
}

.c-button {
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
}

.c-button--primary {
  border: none;
  background-color: #ff9100;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.c-header-banner {
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  padding: 64px 0;
}

.c-header-banner--blue {
  min-height: 300px;
  background-color: #44a9f8;
}

.c-header-banner--blue__course-level {
  position: relative;
  top: -24px;
  left: 50%;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #ffc20a;
  font-weight: bold;
}

.c-header-banner--orange {
  background-color: #ffb402;
}

.c-header-banner--orange__info {
  width: 50%;
  padding-top: 24px;
  text-align: center;
}

.c-header-banner--map {
  max-height: 400px;
}

.c-header-banner--map__image {
  top: -75px;
}

.c-banner__content {
  display: -ms-grid;
  display: grid;
}

.c-banner__content--footer {
  margin: 0 75px;
  -ms-grid-columns: 2fr 2fr 1fr 1fr 0.75fr;
      grid-template-columns: 2fr 2fr 1fr 1fr 0.75fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 64px 0;
  justify-items: end;
}

.c-banner__content--blue {
  padding: 64px 0;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.c-banner--footer {
  background-color: #565656;
}

.c-banner--footer__mascot {
  position: absolute;
  left: 75px;
  bottom: 0;
}

.c-banner--footer__list {
  -ms-grid-column-align: start;
      justify-self: start;
}

.c-banner--footer__list-heading {
  margin-bottom: 16px;
  width: 100%;
  color: #ffffff;
}

.c-banner--footer__list-item {
  margin-bottom: 10px;
}

.c-banner--footer__list-item-content {
  color: #e6e6e6;
  text-align: start;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.c-banner--footer__list-item-content:hover {
  color: #41bead;
}

.c-banner--footer__copyright {
  color: #919191;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
  grid-column: 5;
  text-align: center;
}

.c-banner--footer__contact-icon {
  padding-right: 24px;
}

.c-banner--footer__contact-icon--IG {
  -webkit-transition: content 0.3s ease-out;
  transition: content 0.3s ease-out;
}

.c-banner--footer__contact-icon--IG:hover {
  content: url(../assets/images/IG-icon-blue.svg);
}

.c-banner--footer__contact-icon--facebook {
  -webkit-transition: content 0.3s ease-out;
  transition: content 0.3s ease-out;
}

.c-banner--footer__contact-icon--facebook:hover {
  content: url(../assets/images/facebook-icon-blue.svg);
}

.c-banner--footer__list-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: span 2;
}

.c-banner--footer__list-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: span 2;
}

.c-banner--footer__list-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  grid-row: span 2;
}

.c-banner--blue {
  background-color: #66b9f8;
}

.c-banner--blue__text {
  margin-bottom: 24px;
  color: #ffffff;
}

.c-banner--blue__interactable {
  margin: 24px 32px;
}

.c-input-transparent {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-input-transparent::-webkit-input-placeholder {
  color: #ffffff;
}

.c-input-transparent:-ms-input-placeholder {
  color: #ffffff;
}

.c-input-transparent::-ms-input-placeholder {
  color: #ffffff;
}

.c-input-transparent::placeholder {
  color: #ffffff;
}

.c-page-separator {
  width: 100%;
  height: 10px;
}

.c-page-separator--banner-grey {
  background-color: #919191;
}

.c-page-separator--banner-blue {
  background-color: #92cdfb;
}

.c-page-separator--dots {
  background: url(../assets/images/dots-horizontal-long-blue.svg);
}

.c-page-separator--dots--vertical-orange-long {
  background: url(../assets/images/dots-vertical-long-orange.svg);
  height: 100%;
  width: 10px;
}

.c-page-separator--dots--vertical-orange-short {
  background: url(../assets/images/dots-vertical-short-orange.svg);
  height: 100%;
  width: 10px;
}

.c-card-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0;
}

.c-card-avatar__info {
  margin: 0 32px;
}

.c-card-info__icon {
  margin-right: 32px;
}

.c-card-info__heading {
  font-family: Montserrat !important;
  font-size: 30px;
  line-height: 36px;
}

.c-avatar {
  border: 6px solid #41bead;
  border-radius: 50%;
}

.c-avatar--blurred {
  -webkit-transition: -webkit-filter 0.4s ease-in;
  transition: -webkit-filter 0.4s ease-in;
  transition: filter 0.4s ease-in;
  transition: filter 0.4s ease-in, -webkit-filter 0.4s ease-in;
}

.c-avatar--blurred:hover {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.c-avatar--hovered {
  position: absolute;
  width: 175px;
  height: 175px;
  border: none;
  opacity: 0;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.c-avatar--hovered:hover {
  background: url(../assets/images/info-icon.svg) center no-repeat, rgba(255, 145, 0, 0.8);
  opacity: 1;
}

.c-avatar--hoverable {
  position: absolute;
  width: 175px;
  height: 175px;
  border: none;
  background: url(../assets/images/info-icon.svg) center no-repeat, rgba(255, 145, 0, 0.8);
  top: 5px;
  left: 5px;
}

.c-avatar--hoverable:hover {
  opacity: 0;
}

.c-avatar__info-name {
  display: block;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #41bead;
}

.c-avatar__info-labour {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.c-main {
  display: -ms-grid;
  display: grid;
  margin: 0 75px;
}

.c-main--trainers {
  -ms-grid-rows: max-content min-content 1fr;
      grid-template-rows: -webkit-max-content -webkit-min-content 1fr;
      grid-template-rows: max-content min-content 1fr;
}

.c-main--courses {
  -ms-grid-rows: max-content max-content max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content max-content max-content;
  row-gap: 64px;
  margin: 150px 0;
}

.c-main__avatar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  row-gap: 64px;
  justify-items: center;
  margin: 100px auto;
}

.c-main__card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
}

.c-main__paragraph {
  margin-bottom: 24px;
  color: #565656;
}

.c-block-play-button {
  position: absolute;
  right: 50%;
  top: 64px;
}

.c-block-certificate {
  background: #d6d6d6;
  border-radius: 12px;
  padding: 100px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.c-block-lecture-link {
  display: block;
  position: relative;
  width: 100%;
  margin: 16px 0;
  padding: 14px;
  padding-right: 60px;
  border-radius: 6px;
  color: #565656;
  background-color: #ffffff;
}

.c-block-lecture-link::after {
  position: absolute;
  content: url(../assets/images/arrow-down.svg);
  max-height: 10px;
  right: 20px;
  top: 14px;
}

.section-clip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.section-paragraph {
  margin-right: 100px;
}

.section-info-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
  justify-items: center;
}

.section-certificate-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.section-course-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 64px 75px;
  min-height: 560px;
  background: url(../assets/images/course-studies-block.svg);
}

.u-paragraph--small {
  font-size: 14px !important;
  line-height: 16px !important;
}

.u-paragraph--tiny {
  font-size: 12px !important;
  line-height: 14px !important;
}

.u-font-bold {
  font-weight: bold !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-centered {
  text-align: center !important;
}

.u-align-centered {
  -ms-grid-column-align: center !important;
      justify-self: center !important;
}

.u-linkify {
  text-decoration: underline !important;
  color: #ff9100 !important;
}
